<!doctype html>
<html>
<head>
<title>Local rules</title>
</head>
<body bgcolor="#000044", text="#FFFFFF">
<h3>Welcome to deep sea of the Internet!!!</h3>
I'm glad I can provide you "Orca BBS", a platform for the freedom of speech.
Before swimming under the deep sea and playing with our Orca,
please be sure to understand and follow the LOCAL RULE.
<ul>
    <li> Do not troll threads. Do not harm other users.
    <li> Ignore trolls even if you witness they are doing something stupid.
    <li> Make your identity confidential for other users.
    <li> Make sure that the responsibility to any hazards caused by your posts belongs to yourself.
    <li> Respect other users.
    <li> Do not be evil.
</ul>

</body>
</html>