<!doctype html>
<html>
<head>
<title>{{ title }}</title>
</head>
<body bgcolor="#000044", text="#FFFFFF">
{% block content %}
<!--Post生成-->
{% endblock %}

<h3><a href="#postform"><font color="#FFFF00">To post form
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><a>
<a href="#latest"><font color="#FFFF00">See latest post
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><a>
<a href="/"><font color="#FFFF00">Back to top</font><a></h3>
<h1>{{ title }}</h1>
{% for post in posts %}
<div style="padding-top: -7px;padding-bottom: 3px; margin-bottom: 15px; margin-top: 7px;
border: 6px groove #DDDDDD; line-height: 4px;background-color: #000044;
color: #FFFFFF;">
    <div style="padding-top: -10px;padding-bottom: 13px; margin-bottom: 3px; margin-top: 3px;
    border: 1px solid #FFFFFF; line-height: 4px;background-color: #000044;
    color: #FFFFFF;">
    <p>  <a name="{{ post.num }}"> <font color="#FFFF00"> {{ post.num }} </font> </a> 
        id:{{ post.uid }}, name:{{ post.name }}, time:{{ post.time }} </p>    
    to: {% for to in post.anchor_to %}
    <a href="#{{ to }}"><font color="#FFFF00">{{ to }},</font></a>
    {% endfor %}
    </div>
    <div style="padding-top: 0px;padding-bottom: 0px; margin-bottom: 3px; margin-top: 10px;
    line-height: 4px;background-color: #000044;
    color: #FFFFFF;">
    {% for line in post.content %}
    <p>&nbsp;{{ line }}</p>
    {% endfor %}
    </div>
    <br>
    <div style="padding-top: 6px;padding-bottom: 13px; margin-bottom: 3px; margin-top: 6px;
    border: 1px solid #FFFFFF; line-height: 4px;background-color: #000044;
    color: #FFFFFF;">
    response: {% for from in post.anchor_from %}
    <a href="#{{ from }}"><font color="#FFFF00">{{ from }},</font></a>
    {% endfor %}
    </div>
</div> 
{% endfor %}
<a name="latest"></a>
<h3> <a name="postform",size="80"> <font color="#FFFF00">POST</font></a> </h3>
<form action="/threads/{{ tid }}#latest" method="post">
    name:<input type="text", name="name",size="80"><br>
    content:<br>
    <textarea name="content", cols="80", rows="20" required></textarea><br>
    <input type="submit" value="POST">
</form>
<a href="#1"><h3><font color="#FFFF00">To the 1st post</font> </h3> </a>
<h3><a href="/"><font color="#FFFF00">Back to top</font><a></h3>
</body>
</html>